{% load staticfiles %}
<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
    <title>Kolubryna</title>
</head>
<body>
 <p><input id="button_p" type="submit" name="submit" value="PLAY" /></p>
    <canvas id="canvas" width="640" height="480"
            style="border:1px solid #d3d3d3;">
        Your browser does not support the canvas element.
    </canvas>

<div>
    <form role="form" action="/" method="POST">
        {% csrf_token %}
        <h2>Kąt nachylenia:</h2>
        <input  name="kat" type="number" /><br />
        <input id="button_play" type="submit" name="submit" value="PLAY" />
    </form>
</div>
<div>
    <h2>WYNIK:</h2>
</div>

<script>

   $("#button_play").css('height','35px').css('width','170px').css('margin-top', '10px');
	
   var canvas = document.getElementById("canvas");
   var ctx = canvas.getContext("2d");
   var ctxx = canvas.getContext("2d");
   // x i y poczatek
  	var x = 40;
	var y = 420;
	var dx = 1;
	var dy = -1;
	var h = 200;
	var degrees = 45;

	var context = canvas.getContext('2d');
	var imageObj = new Image();
	imageObj.src = '{% static "armata.png" %}';
	
	var explosion = new Image();
	explosion.src='{% static "explosion.png" %}';
	
	var buttonPlay = document.getElementById('button_p');
	
	buttonPlay.addEventListener('click',myAnimation,false);
	
	tlo();
	
	
function myAnimation() {
	setInterval(draw, 20);
}
	
	
function draw() {
	context.clearRect(0, 0, canvas.width, canvas.height);
	tlo();
	armata(degrees);

	x += dx;
	y += dy; 
			        
			       if (x > h) {
			            dx = 1;
			            dy = 1;
			        }
			   
			        if (x < 20) {
			            dx = 1;
							dy = -1;	            			           
			        }

			        
			        context.beginPath();
			        context.fillStyle = "black";
			        context.arc(x, y, 20, 0, Math.PI * 2, true);
			        context.closePath;
			        context.fill();
			        
			        if(y >= 430){
			        
			        		context.drawImage(explosion,x-100,y-100,200,200);
			        		
			        }
};

function armata(degrees) {
	 var rectWidth = 150;
    var rectHeight = 75;

   ctxx.save();
   ctxx.translate(canvas.width / 6, 400);
   ctxx.rotate(-degrees*(Math.PI/180));
   ctxx.drawImage(imageObj,rectWidth / -2, rectHeight / -2);


	ctxx.restore();

	
};

function tlo() {
	ctx.fillStyle = "#9acb6b";
	ctx.fillRect(0,430,640,50);
	
	var grd = ctx.createLinearGradient(0,0,canvas.width, canvas.height);
	grd.addColorStop(0,"#b6d2ff");
	grd.addColorStop(0.6,"#bbedff");
	ctx.fillStyle=grd;
	ctx.fillRect(0,0,640,435);
	
	
};
</script>
</body>
</html>